.hint {
  background-color: rgb(161, 149, 80, 0.5);
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
.header-with-versions {
  display: flex;
  justify-content: space-between;
  text-align: right;
}
