@use "sass:meta";

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@include meta.load-css("@fortawesome/fontawesome-free/scss/fontawesome");
@include meta.load-css("@fortawesome/fontawesome-free/scss/regular");
@include meta.load-css("@fortawesome/fontawesome-free/scss/solid");
@include meta.load-css("@fortawesome/fontawesome-free/scss/brands");
@include meta.load-css("@fortawesome/fontawesome-free/scss/v4-shims");
@include meta.load-css("webfonts");

@include meta.load-css("@cluetec/ngcx-tree/styles/styles");

body {
  font-family: "Open Sans";
  font-size: 15px;
  margin: 0px 10px 50px 10px;
  padding: 0;
  background-color: white;
  font-weight: 400;
  color: #3c3c3c;
}
